<% @users.each do |user| %>
	<% form_id = "#{user.employee_id}" %>

	<div class="user">
		<p>
			<%= form_for user, url: "/books/#{@book.id}/bookitems", method: :post do |f| %>
				<%= f.label :name, user.name %>
				&nbsp&nbsp
				<%= f.label :employee_id, user.employee_id %>
				<br />
				<%= f.label :email, user.email %>
				<%= f.hidden_field :employee_id, value: user.employee_id %>
				<%= f.submit "Select", :id => form_id, :class => "usersubmit" %>
			<% end %>
		</p>
		<hr>
<% end %>