<% content_for :head do %>
	<script type="text/javascript">
		
	</script>
<% end %>

<% content_for :banner do %>
  	<!-- <div id="banner-container">
		<div id="banner-inner-container">
			<div id="banner"></div>
			<div id="banner-main-group" class="">
				<div id="banner-tagline" class="">
					<h1>Welcome to the FIRM ODC Library Manager</h1>
				</div>
				<div id="banner-searchbar" class="">
					<input type="text" id="searchBookData" class="search-input" placeholder="Search for your favorite book"></input>
					<div id="bookSearchResults" class="book-search-results" style="visibility:hidden">
						<div class="book-search-results-content">
						
						</div>
					</div>
				</div>
				<div id="banner-text" class="">
					<span>Search for books and their availability. Manage books and book issues.</span>
				</div>
			</div>
		</div>
	</div> -->
	<%= render :partial => "layouts/banner" %>
<% end %>

<div id="page-wrapper">
	<!-- <div class="container-2">
		<% if user_signed_in? %>
			<% @user.bookissues.each do |bookissue| %>
				<% if bookissue.status %>
					<% bookitem = bookissue.bookitem %>
					<div class="item-wrapper">
						<%= link_to (image_tag bookitem.book.cover.url(:small)), book_bookitem_path(bookitem.book,bookitem) %>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<% @books.each do |book| %>
					<div class="item-wrapper">
						<%= link_to (image_tag book.cover.url(:small)), book_path(book) %>
					</div>
			<% end %>
		<% end %>
	</div> -->

	<% @users.each do |user| %>
		<div class="user">
			<div class="avatar"></div>
				<div class="row">
					<div class="row-left">
						<div class="row-left-top">
							<div class="name">
								 <%= label :name, user.name %>
							</div>
							<div class="empid">
								 <%= label :employee_id, user.employee_id %>
							</div>
						</div>
						<div class="row-left-bottom">
							<div class="email">
								 <%= label :email, user.email %>
							</div>
						</div>
					</div>
					<div class="row-right">
						<div class="row-btn">
							 <%= link_to "Manage", user_path(user), :class => "submit-link" %>
						</div>
					</div>	
				</div>
		</div>
	<% end %>


</div>