<% content_for :head do %>
  	<style type="text/css">
		.container-2 {
			margin: 5px;
			overflow: hidden;
		}
		.item-wrapper {
			float: left;
			margin: 10px;
			box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
			padding: 10px 10px 6px 10px;
			cursor: pointer;
		}
		.bottom-cover {
			border: 1px solid;	
		}
	</style>
<% end %>
<div>
	<h1>
		<%= @user.name %>
	</h1>
</div>

<div id="page-wrapper">
	<div class="container-2">
		<% @user.bookitems.each do |bookitem| %>
			<div class="item-wrapper">
				<%= link_to (image_tag bookitem.book.cover.url(:small)), book_bookitem_path(bookitem.book,bookitem) %>
			</div>
		<% end %>
	</div>

	<h2>Book Issues [<%= @user.bookissues.size.to_s %>]</h2>

	<% @user.bookissues.each_with_index { |bookissue, index| %>
		<% book = bookissue.bookitem.book %>
		<div class="bookitem">
			<% if bookissue.status %>
				<div class="serial-number is-false" title = "Still issued...">
				</div>
			<% else %>	
				<div class="serial-number is-true" title = "Book returned...">
				</div>
			<% end %>
			<div class="bookitem-row">
				    <div class="row-label"><strong>Book:</strong></div>
				    <div class="row-value"><%= link_to book.title, book_path(book) %></div>
			</div>
			<div class="bookitem-row">
			    <div class="row-label"><strong>Date of Issue:</strong></div>
			    <div class="row-value"><%= bookissue.date_of_issue.to_date %></div>
			</div>
			<% if bookissue.status %>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_return.to_date %></div>
				</div>
				<div class="bookitem-row last">
					<% if can? :update, @bookissue %>
				  		<%= link_to "Return this copy", book_bookitem_bookissue_path(book,bookissue.bookitem,bookissue.id), method: :patch, :class => "submit-link" %>
				  	<% end %>
				</div>
			<% else %>	
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Actual Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_actual_return.to_date %></div>
				</div>
			<% end %>
		</div>
	<% } %>
	

</div>