<div class="title">Update Book</div>

<%= form_for @book, :html => { :multipart => true } do |f| %>
	<p>
		<%= f.label :isbn, "ISBN - " %><br />
		<%= f.text_field :isbn %>
	</p>
	<p>
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description, "Description" %><br />
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :category, "Category" %><br />
		<%= f.text_field :category %>
	</p>
	<p>
		<%= f.label :authors, "Authors" %><br />
		<%= f.text_field :authors %>
	</p>
	<p>
		<%= f.label :cover, "Cover photo"%><br />
		<%= f.file_field :cover %>
	</p>

	<div class="menu">
		<div class="menu-item">
			<%= f.submit "Update book", { :class => "submit-link" }  %>
		</div>
		<div class="menu-item">
			<div class = "submit-link">
				<%= link_to "Back", request.env["HTTP_REFERER"], { :class => "submit-link" } %>
			</div>
		</div>
	</div>
<% end %>