<% content_for :head do %>
  	<script type="text/javascript">
    	<%= render :partial => "shared/searchuser", :formats=>[:js] %>
  	</script>
  	<style type="text/css">

  	</style>
<% end %>

<div class="modal-backdrop fade" style="visibility:hidden">	
</div>
<div class="modal" style="display:none;">
	<div class="modal-header">
		<div class="modal-header-text">
			Import Books from CSV / Excel file
		</div>
		<div class="modal-close"></div>
	</div>
	<div class="modal-body">
		<div class="modal-row first">
			<%= form_tag import_books_path, multipart: true do %>
			  <%= file_field_tag :file %>
			  <%= submit_tag "Import", { :id => "excel_submit" } %>
			<% end %>
		</div>
	</div>
</div>

<div class="title">
	All Books
</div>

<div class="menu">
	<% if can? :create, @book %>
		<!-- <h2>Import Books from CSV / Excel file</h2>
		<%= form_tag import_books_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import" %>
		<% end %> -->
		<div class="menu-item">
			<div class = "submit-link showUserSearch">
				Excel Import
			</div>			
		</div>
		<div class="menu-item">
			<div class = "submit-link">
				<%= link_to "Add new book", new_book_path, :class => "submit-link"  %>	
			</div>
		</div>

		
	<% end %>	
</div>
	


<% @books.each do |book| %>
	<div class="book">
		<div class="book-details">
			<div class="bookcover">
				<%= image_tag book.cover.url(:thumb) %>
			</div>
			<div class="booktitle">
				<%= link_to "#{book.title}", book_path(book) %>
			</div>
			<div class="bookcategory">
				<%= book.category %>
			</div>
			<div class="bookauthors">
				<%= book.authors %>
			</div>	
		</div>


		<div class="book-buttons">
			<% if can? :update, @book %>
				<div class="btn-book">
					<%= link_to "Edit Book", edit_book_path(book) %>
				</div>
				<div class="btn-book">
					<%= link_to "Issue Book", book_bookitems_path(book) %>
				</div>
			<% else %>
				<div class="btn-book">
					<%= link_to "View Availability", book_bookitems_path(book) %>
				</div>
			<% end %>
		</div>



	</div>
<% end %>
