<% content_for :head do %>
  	<%= javascript_include_tag "angular.js" %>
  	<%= javascript_include_tag "app.js" %>
  	<%= javascript_include_tag "controllers.js" %>
<% end %>
<div class="title">Add a new book</div>

<%= form_for @book, :html => { :multipart => true } do |f| %>
	<% if @book.errors.any? %>
		<div class="alert-box alert">
			<% @book.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>

	<p>
		<%= f.label :isbn, "ISBN - " %><br />
		<%= f.text_field :isbn %>
	</p>
	<p>
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description, "Description" %><br />
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.label :category, "Category" %><br />
		<%= f.text_field :category %>
	</p>
	<p>
		<!-- <div ng-app="AuthorSelectorApp" ng-controller="authorsController">
			<input type="text" ng-model="nameFilter" placeholder="Search..."/>
			<div ng-hide="nameFilter == null ">
			<ul >
				<li ng-repeat="author in authorsList | filter : nameFilter">
					<p>{{author.name}}</p>
				</li>
			</ul>
			</div>
		</div> -->
		<%= f.label :authors, "Authors" %><br />
		<%= f.text_field :authors %>
	</p>
	<p>
		<%= f.label :cover, "Cover photo"%><br />
		<%= f.file_field :cover %>
	</p>
	<div class="menu">
		<div class="menu-item">
			<%= f.submit "Add book", { :class => "submit-link" }  %>
		</div>
		<div class="menu-item">
			<div class = "submit-link">
				<%= link_to "Back", request.env["HTTP_REFERER"], { :class => "submit-link" } %>
			</div>
		</div>
	</div>

<% end %>