<% content_for :head do %>
  	<%= javascript_include_tag "tooltips.js" %>
  	<script type="text/javascript">
    	<%= render :partial => "shared/searchuser", :formats=>[:js] %>
  	</script>
	<style type="text/css">
		
	</style>
<% end %>

<div id="page-wrapper">
	<div class="book">
		<div class="bookcover">
			<%= image_tag @book.cover.url(:medium) %>
		</div>
		<div class="booktitle">
			<%= link_to @book.title, book_path(@book) %>
		</div>
		<div class="book-details-row bottom-border">
			<div class="bookcategory">
				Genre :&nbsp;<span class="blue-text"><%= @book.category %></span>
			</div>
			<div class="bookauthors">
				Authors :&nbsp;<span class="blue-text"><%= @book.authors %></span>
			</div> 	
			<div class="bookisbn">
				ISBN -&nbsp;<span class="blue-text"><%= @book.isbn %></span>
			</div>
		</div>
		<div class="book-details-row">
			Description<br />
			<%= @book.description %>
		</div>
	</div>

	<h2>Book Item Issue History</h2>
	<% @bookitem.bookissues.each_with_index { |bookissue, index| %>
		<div class="bookitem">
			<% if bookissue.status %>
				<div class="serial-number is-false" title = "Still issued...">
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Issued By:</strong></div>
				    <div class="row-value"><%= link_to  bookissue.user.name, user_path(bookissue.user) %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Issue:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_issue.to_date %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_return.to_date %></div>
				</div>
				<div class="bookitem-row last">
					<% if can? :update, @bookissue %>
				  		<%= link_to "Return the copy", book_bookitem_bookissue_path(@book,@bookitem,bookissue.id), method: :patch, :class => "submit-link" %>
				  	<% end %>
				</div>
			<% elsif !bookissue.status %>
				<div class="serial-number is-true" title = "Book returned...">
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Issued By:</strong></div>
				    <div class="row-value"><%= link_to  bookissue.user.name, user_path(bookissue.user) %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Issue:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_issue.to_date %></div>
				</div>
				<div class="bookitem-row">
				    <div class="row-label"><strong>Date of Actual Return:</strong></div>
				    <div class="row-value"><%= bookissue.date_of_actual_return.to_date %></div>
				</div>
			<% end %>
		</div>
	<% } %>
</div>