<% content_for :head do %>
	<style type="text/css">
		
	</style>
<% end %>
<header>
	<div id="header-container">
		<div id="site-title">
				<%= link_to "Library Manager", users_path %>
		</div>
		<div id="navigation">
			<div class="nav-item">
				<%= link_to "All Books", books_path %>
			</div>
			<% if user_signed_in? %>
				<% if can? :create, @book %>
					<div class="nav-item">
						<%= link_to "Add a new book", new_book_path %>
					</div>
				<% end %>	
				<div class="nav-item">
					<%= link_to current_user.name, user_path(current_user) %>
				</div>
				<div class="nav-item">
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				</div>
			<% else %>
				<div class="nav-item">
					<%= link_to "Sign up", new_user_registration_path %>
				</div>
				<div class="nav-item">
					<div class="signin">
					<!-- 	<%= link_to "Sign in", new_user_session_path %>
					 -->
					 Sign In
					 </div>
				</div>
				<%= form_for User.new, url: user_session_path do |f| %>
					<div class="arrow-up fade" style="visibility:hidden"></div>
					<div class="login-box fade" style="visibility:hidden">
						<div class="header">
							<div class="modal-header-text">
								Log In
							</div>
							<div class="modal-close"></div>				
						</div>
						<div class="item">
							<%= f.email_field :email, autofocus: true, placeholder: "Enter email" %>
						</div>
						<div class="item">
							<%= f.password_field :password, autocomplete: "off", placeholder: "Enter password" %>
						</div>
						<div class="item">
							<%= f.submit "Sign in" %>
						</div>
					</div>	
				<% end %>
			<% end %>
		</div>
		
	</div>
</header>