<!DOCTYPE html>
<html>
<head>
  <title>LibraryManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
  <%= yield :head %>

  <style type="text/css">

  </style>

</head>
<body>


<header>
	<div id="site-title">Library Manager</div>
	<div id="navigation">
		<div class="nav-item">
			<%= link_to "All Books", books_path %>
		</div>
		<% if user_signed_in? %>
			<div class="nav-item">
				<%= link_to current_user.name, user_path(current_user) %>
			</div>
			<% if can? :create, @book %>
				<div class="nav-item">
					<%= link_to "Add a new book", new_book_path %>
				</div>
			<% end %>	
			<div class="nav-item">
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			</div>
		<% else %>
			<div class="nav-item">
				<%= link_to "Sign up", new_user_registration_path %>
			</div>
			<div class="nav-item">
				<%= link_to "Sign in", new_user_session_path %>
			</div>
		<% end %>
	</div>
</header>

<div id="banner-container">
	<div id="banner"></div>
	<div id="banner-main-group" class="">
		<div id="banner-tagline" class="">
			<h1>Welcome to the FIRM ODC Library Manager</h1>
		</div>
		<div id="banner-searchbar" class="">
			<input type="text" class="search-input" placeholder="Search for your favorite book"></input>
		</div>
		<div id="banner-text" class="">
			<span>Here you can manage books. Sign in to know more</span>
		</div>
	</div>
</div>

<% flash.each do |key,value| %>
		<p><%= value %></p>
<% end %>

<p class = "showBookSearch">
	Search a book
</p>
<div id="book_select" style="display:none;">
	<input style="width:150px;" id="searchBookData" type="text" placeholder="Enter book name"></div>
	<div id="bookSearchResults" style="visibility:hidden"></div>
</div>
<%= yield %>

</body>
</html>
