<!DOCTYPE html>
<html>
<head>
  <title>LibraryManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= yield :head %>

  <style type="text/css">

  </style>

</head>
<body>


<header>
	<div id="header-container">
		<div id="site-title">
				<%= link_to "Library Manager", users_path %>
		</div>
		<div id="navigation">
			<div class="nav-item">
				<%= link_to "All Books", books_path %>
			</div>
			<% if user_signed_in? %>
				<div class="nav-item">
					<%= link_to current_user.name, user_path(current_user) %>
				</div>
				<% if can? :create, @book %>
					<div class="nav-item">
						<%= link_to "Add a new book", new_book_path %>
					</div>
				<% end %>	
				<div class="nav-item">
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				</div>
			<% else %>
				<div class="nav-item">
					<%= link_to "Sign up", new_user_registration_path %>
				</div>
				<div class="nav-item">
					<%= link_to "Sign in", new_user_session_path %>
				</div>
			<% end %>
		</div>
	</div>
</header>

<% if content_for?(:banner) %>
  <%= yield(:banner) %>
<% else %>
  <div class="default-banner-wrapper">
  	<div id="default-banner">
  		<div id="site-title" style="visibility:hidden">
				<%= link_to "Library Manager", users_path %>
		</div>
  		<div id="banner-searchbar" class="">
			<input type="text" id="searchBookData" class="search-input" placeholder="Search for your favorite book"></input>
			<div id="bookSearchResults" class="book-search-results" style="visibility:hidden">
			</div>
		</div>
  	</div>
  </div>
<% end %>

<div id="main-wrapper">
	<div id="main-container">
		<div id="flash-message-container">
			<% flash.each do |key,value| %>
					<p><%= value %></p>
			<% end %>
		</div>

		<%= yield %>

	</div>	
</div>

<!-- <div id="footer-wrapper">
	<div id="site-footer">
		FIRM ODC
	</div>
</div> -->

</body>
</html>
